<div class="container-fluid" id="subnav"> 
<ul> 
 <li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/agri/dashboard']">Dashboard</a></li>
<li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/agri/dashboard/profile']">Profile</a></li>	
 <li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/agri/dashboard/chat']">Chat</a></li>
<li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/agri/dashboard/post']">Post</a></li>
 <li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/agri/dashboard/crop']">Crop</a></li>


<span  *ngIf="user">
<li>{{user.name}}</li>
</span>
</ul>

 <router-outlet></router-outlet>



</div>
