<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="footer-block">
					<ul class="list-inline footer-menu">
						<li><a href="">Term of Use</a></li>
						<li><a href="">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="footer-block text-center">
					<p class="copyright">
						© 2017 Agri Assistant. All rights reserved.
					</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="footer-block">
					<ul class="list-inline pull-right social-icon">
						<li><a href=""><i class="fa fa-facebook"></i></a></li>
						<li><a href=""><i class="fa fa-twitter"></i></a></li>
						<li><a href=""><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
