.imagewidth{
  min-width: 100%;
}

.carousel .item {
  height: 400px;

}
/*#we{
    border-style: solid;
    border-bottom: thick dotted red;
}*/
.carousel-caption h1 {
  z-index: 10;
    display:inline-block;
    border-bottom:3px solid #f7f7f7;
    padding-bottom:2px;
    border-radius: 2px;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
    min-width: 100%;
height: 400px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {

  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {

  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
}
.marketing{
  margin-top: 20px;
}


