<div *ngIf="posts"> 

 <div class="row">
 <div class="col-md-6">
<form #f="ngForm" (ngSubmit)="save(f.value, f.valid)" novalidate>
           <legend>Edit Profile</legend>
<div class="form-group">
    <label class="col-sm-5 control-label">Name</label>
    <div class="col-sm-7">
      <input type="text" 
            name="name" [(ngModel)]="posts.name" 
            #name="ngModel" required minlength="5" class="form-control">
        
        
    </div>
  </div>
  
  
    <div class="form-group">
    <label class="col-sm-5 control-label">Phone</label>
    <div class="col-sm-7">
     <input type="number" 
            name="phone" [(ngModel)]="posts.phone" 
            #phone="ngModel" required minlength="3" class="form-control">
       
     
    </div>
  </div>
    <div class="form-group">
    <label class="col-sm-5 control-label">Company Email</label>
    <div class="col-sm-7">
      <input type="text" 
            name="cemail" [(ngModel)]="posts.cmail" 
            #cemail="ngModel" required class="form-control" >
    </div>
  </div>
    <div class="form-group">
    <label class="col-sm-5 control-label">Company Name</label>
    <div class="col-sm-7">
      <input type="text" 
            name="cname" [(ngModel)]="posts.cname" 
            #cname="ngModel" required minlength="3" class="form-control">
        
      
    </div>
  </div>
    
  <div class="form-group"> 
  <div class="col-md-offset-5 col-md-7"> 
  <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
  </div> </div>
 </form>


 </div> 


 </div>

</div>




