<div *ngIf="user"> 
<div *ngFor="let posts of user" > 
<form class="form-horizontal">
<legend align="center">Profile<h6  (click)="editprofile()" class="btn-primary" id="edit"> Edit Profile</h6></legend>

  <div class="form-group">
    <label class="col-sm-5 control-label">Name:</label>
    <div class="col-sm-7">
      <p class="form-control-static">{{posts.name}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Phone:</label>
    <div class="col-sm-7">
      <p class="form-control-static">{{posts.phone}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Email:</label>
    <div class="col-sm-7">
      <p class="form-control-static">{{posts.email}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Address:</label>
    <div class="col-sm-7">
      <p class="form-control-static">{{posts.address}}</p>
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-5 control-label">College:</label>
    <div class="col-sm-7">
      <p class="form-control-static">{{posts.clg}}</p>
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-5 control-label">Qulification:</label>
    <div class="col-sm-7">
      <p class="form-control-static">{{posts.qualification}}</p>
    </div>
  </div>
</form>
</div>
</div>



<div *ngIf="edit"> 
<app-agrieditprofile [user]="user" >
</app-agrieditprofile>

</div>
