<div class="container-fluid"> 
<div class="row">
<div class="col-md-6" id="profile">

<div *ngIf="post"> 
<div *ngFor="let posts of post" > 
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{posts.name}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Phone</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{posts.phone}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Irrigation</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{posts.irr}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Address</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{posts.address}}</p>
    </div>
  </div>
   

  
</form>

</div>
</div>
 </div>
<div class="col-md-6">
<app-usercrops  >
</app-usercrops>

 </div>

  </div>
</div>
<app-usereditprofile>
</app-usereditprofile>

<app-addcrop (add)=onadd($event)>
</app-addcrop>