 <div class="container-fluid" id="subnav"> 
<ul> 
 <li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/user/dashboard']">Dashboard</a></li>
<li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/user/dashboard/profile']">Profile</a></li>  
 <li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/user/dashboard/chat']">Chat</a></li>
<li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/user/dashboard/product']">Product</a></li>
<li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/user/dashboard/payment']">Payment</a></li>
<li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/user/dashboard/posts']">Posts</a></li>
<li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/user/dashboard/cropdiary']">cropdiary</a></li>
 <li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/user/dashboard/review']">Review</a></li>
<span  *ngIf="user">
<li>{{user.name}}</li>
</span>
</ul>
 <router-outlet></router-outlet>



</div>



